*{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parentdiv{
    width: 100%;
    /* border: 2px solid red; */
    height: 5460px;
    margin: auto;
}

#navbar{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid rgb(200,200,200);
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: white;
}

#firstnav{
    width: 90%;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 8%;
    height: 30px;
}

#logo img{
    width: 100%;
    height: 100%;
}

#profile {
    width:20%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#profile :nth-child(1){
    font-size: 14px;
    font-weight: 550;
}

#signup {
    width: 33%;
    border: 2px solid rgb(242,242,242);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
    height: 50px;
}

#profile1{
     /* border: 2px solid red; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(106,106,106);
}

#profile1 i{
    font-size: 40px;
    color: white;
}

#secondnav{
    display: none;
}

#main{
    width: 100%;
    margin: auto;
}

#newthisweek{
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newthisweek > p:nth-child(1){
    font-size: 32px;
}

#leftright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5.5%;
}

#left{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(242,242,242);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(242,242,242);
}

#right{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards{
    /* border: 1px solid red; */
    width: 90%;
    height: 370px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#mostpopulararoundworld{
    background-image: url("https://a0.muscache.com/im/pictures/e35bb307-05f4-48a4-bdc5-3b2198bb9451.jpg?im_w=720");
    width: 49%;
    height: 340px;
    border-radius: 12px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

#collectionmostpopular{
    width: 35%;
    position: absolute;
    top: 20px;
    left: 30px;
}

.showall{
    background-color: white;
    width: 14%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: 280px;
    left: 30px;
}

#collectionmostpopular > p:nth-child(1){
    font-size: 13px;
    color: white;
}

#collectionmostpopular > p:nth-child(2){
    font-size: 26px;
    color: white;
    line-height: 1.1;
    margin-top: 8px;
}

#easyforitenaryplanning{
    background-image: url("https://a0.muscache.com/im/pictures/2fe40f4f-5ea3-432f-9fbd-e2ce3c6c3855.jpg?im_w=720");
    width: 49%;
    height: 340px;
    border-radius: 12px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

#easyforitenary{
    width: 35%;
    position: absolute;
    top: 20px;
    left: 30px;
}

#easyforitenary > p:nth-child(1){
    font-size: 13px;
    color: white;
}

#easyforitenary > p:nth-child(2){
    font-size: 26px;
    color: white;
    line-height: 1.1;
    margin-top: 8px;
}

#datesguestfilter{
    width: 90%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#datesguestshare{
    width: 22%;
    display: flex;
    justify-content: space-between;
}

#dates{
    border: 1px solid rgb(200,200,200);
    width: 22%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#groupsize{
    border: 1px solid rgb(200,200,200);
    width: 34%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#morefilaters{
    border: 1px solid rgb(200,200,200);
    width: 34%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.pipesymbol{
    border-left: 1px solid rgb(200,200,200);
    height: 30px;
    width: 2%;
}

#greatfamilyanimals{
    width: 74%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: -22px;
}

#greatforgroups{
    border: 1px solid rgb(242,242,242);
    width: 12.5%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#familyfriendly{
    border: 1px solid rgb(242,242,242);
    width: 12%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#animals{
    border: 1px solid rgb(242,242,242);
    width: 7%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#artsandwriting{
    border: 1px solid rgb(242,242,242);
    width: 12%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#baking{
    border: 1px solid rgb(242,242,242);
    width: 7%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#cooking{
    border: 1px solid rgb(242,242,242);
    width: 7%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#dance{
    border: 1px solid rgb(242,242,242);
    width: 7%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#drinks{
    border: 1px solid rgb(242,242,242);
    width: 7%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#entertainment{
    border: 1px solid rgb(242,242,242);
    width: 11%;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: rgb(242,242,242);
}

#right2{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#planatripwithhelp{
    width: 90%;
    margin: auto;
}

#plantrip{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#plantrip > p:nth-child(1){
    font-size: 22px;
}

#showleftright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

#showleftright > p:nth-child(1){
    font-size: 14px;
}

#leftright1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}

#left1{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#right1{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#plantrip1{
    display: none;
}

#planatripcards{
    width: 90%;
    /* border: 2px solid black; */
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.image_div{
    /* border: 2px solid red; */
    width: 15.7%;
    height: 466px;
    margin-bottom: 30px;
}

.childrenDiv {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-5121505-media_library/original/ad81cdd5-4934-4ac5-9789-a1711cb81523.jpeg?im_w=720");
  }

  .childrenDiv1 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-5121821-media_library/original/56919bf1-cf07-45bc-8e76-142af7dfe67c.jpeg?im_w=720");
  }

  .childrenDiv2 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-5130830-media_library/original/953365ba-fff1-4580-aca7-36552116f908.jpeg?im_w=720");
  }

  .childrenDiv3 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-5148418-media_library/original/c3bd881a-d65b-4ca2-855c-777ba2016a70.jpeg?im_w=720");
  }

  .childrenDiv4 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2496585-poster/original/e6de8fae-018d-4411-b0a3-81bbb6e4e5c3.jpeg?im_w=720");
  }

  .childrenDiv5 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2596268-active_media/original/b0aa65da-e3f6-4bd2-91d3-9e2f127f348a.jpg?im_w=720");
  }

  .guestfav{
    max-width: 90%;
    padding-top: 10px;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    position: relative;
}

.guestfav > i:nth-child(1){
    font-size: 22px;
    color: black;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-top: 7px;
    padding-right: 1px;
    opacity: 0.5;
}

.guestfav > i:nth-child(2){
    font-size: 24px;
    color: white;
    position: absolute;
    top: 15px;
}

.placedescrip{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 6px;
}

.star{
    font-size: 15px;
    margin-top: 10px;
}

.placedescrip1{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 6px;
}

.star1{
    font-size: 15px;
    margin-top: 10px;
}

.placedescrip2{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 6px;
}

.star2{
    font-size: 15px;
    margin-top: 10px;
}

.placedescrip3{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 6px;
}

.star3{
    font-size: 15px;
    margin-top: 10px;
}

.placedescrip4{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 6px;
}

.star4{
    font-size: 15px;
    margin-top: 10px;
}

.placedescrip5{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 6px;
}

.star5{
    font-size: 15px;
    margin-top: 10px;
}

.star > i{
    font-size: 12px;
}

.star1 > i{
    font-size: 12px;
}

.star2 > i{
    font-size: 12px;
}

.star3 > i{
    font-size: 12px;
}

.star4 > i{
    font-size: 12px;
}

.star5 > i{
    font-size: 12px;
}

.rupee{
    margin-top: 6px;
    color: black;
}

#topseller{
    width: 90%;
    margin: auto;
}

#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#top > p:nth-child(1){
    font-size: 22px;
}

#showleftright1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

#showleftright1 > p:nth-child(1){
    font-size: 14px;
}

#leftright2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}

#left2{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#right2{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#plantrip2{
    display: none;
}

#topsellercards{
    width: 90%;
    /* border: 2px solid black; */
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.image_div{
    /* border: 2px solid red; */
    width: 15.7%;
    height: 466px;
    margin-bottom: 30px;
}

.topsellerchildrenDiv {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1692296-media_library/original/3bc48e00-d45e-4440-ae48-e563f94a0c2a.jpeg?im_w=720");
  }

  .topsellerchildrenDiv1 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2494046-media_library/original/bb546ed3-b0ac-42bc-9197-6d8c9a9b5cdd.jpeg?im_w=720");
  }

  .topsellerchildrenDiv2 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1670646-media_library/original/9480f17a-cc94-4a75-87eb-78dc3dbc1baa.jpeg?im_w=720");
  }

  .topsellerchildrenDiv3 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2488030-media_library/original/a7742fb4-e6bc-45a3-ad8d-9e37afeec600.jpeg?im_w=720");
  }

  .topsellerchildrenDiv4 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1655017-poster/original/94483e4d-7493-46ad-bddc-d3780d2d59b2.jpg?im_w=720");
  }

  .topsellerchildrenDiv5 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1710354-poster/original/932fc164-dfb7-47ba-aaf7-1a66fbfbdc74.jpeg?im_w=720");
  }

#startinginnext{
    width: 90%;
    margin: auto;
}

#starting{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#starting > p:nth-child(1){
    font-size: 22px;
}

#showleftright2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

#showleftright2 > p:nth-child(1){
    font-size: 14px;
}

#leftright3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}

#left3{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#right3{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#starting1{
    display: none;
}

#startinginnextcards{
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#discoverterracotta{
    border: 1px solid rgb(223,223,223);
    width: 32.5%;
    height: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#discoverterracotta > i:nth-child(3){
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    margin-right: 15px;
    margin-top: 15px;
}

#discoverterracottaimg{
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2426642-media_library/original/35cd0ee8-d67c-45ea-a188-333546cb3bdd.jpeg?im_w=720");
    width: 40%;
    height: 85%;
    border-radius: 12px;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 15px;
    margin-top: 15px;
}

#discoverterracottadecp{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.placedescrip6{
    font-size: 15px;
    line-height: 1.3;
    margin-top: 6px;
}

.star6{
    font-size: 12px;
    margin-top: 40px;
}

.star6 > i{
    font-size: 9px;
}

.time{
    border: 1px solid black;
    width: 29%;
    height: 32px;
    border-radius: 6px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#fungiant{
    border: 1px solid rgb(223,223,223);
    width: 32.5%;
    height: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#fungiant > i:nth-child(3){
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    margin-right: 15px;
    margin-top: 15px;
}

#fungiantimg{
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2016483-media_library/original/a90f47b0-0111-416c-a8b6-1a80dc6aa6cb.jpeg?im_w=720");
    width: 40%;
    height: 85%;
    border-radius: 12px;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 15px;
    margin-top: 15px;
}

#fungiantdecp{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#planatriptotajmahal{
    border: 1px solid rgb(223,223,223);
    width: 32.5%;
    height: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#planatriptotajmahal > i:nth-child(3){
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    margin-right: 15px;
    margin-top: 15px;
}

#planatriptotajmahalimg{
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-3237790-media_library/original/1110124c-e16d-4578-9200-e1521a21ed06.jpeg?im_w=720");
    width: 40%;
    height: 85%;
    border-radius: 12px;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 15px;
    margin-top: 15px;
}

#planatriptotajmahaldecp{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#greatforgroups1{
    width: 90%;
    margin: auto;
}

#great{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#great > p:nth-child(1){
    font-size: 22px;
}

#showleftright1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

#showleftright1 > p:nth-child(1){
    font-size: 14px;
}

#leftright2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}

#left2{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#right2{
    width:33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(223,223,223);
    display: flex;
    align-items: center;
    justify-content: center;
}

#great1{
    display: none;
}

#greatforgroupscards{
    width: 90%;
    /* border: 2px solid black; */
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.image_div{
    /* border: 2px solid red; */
    width: 15.7%;
    height: 466px;
    margin-bottom: 30px;
}

.greatforgroupschildrenDiv {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1485488-media_library/original/0b02429d-ff66-43c1-96bf-c37eeaa29685.jpeg?im_w=720");
  }

  .greatforgroupschildrenDiv1 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1654052-poster/original/ef371e68-c633-4293-84e8-46d07fd3eecb.jpg?im_w=720");
  }

  .greatforgroupschildrenDiv2 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1679851-media_library/original/193f8bd7-088f-4b16-90a3-0e28218e446c.jpeg?im_w=720");
  }

  .greatforgroupschildrenDiv3 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1695301-media_library/original/8b131331-3e93-44ed-a110-7cf1ba22f3ba.jpeg?im_w=720");
  }

  .greatforgroupschildrenDiv4 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/2d6f82ab-496a-48b0-9ce0-e6e2c04387eb.jpg?im_w=720");
  }

  .greatforgroupschildrenDiv5 {
    /* border: 2px solid red; */
    height: 290px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1661135-poster/original/027394e3-d502-4cb8-9f7f-9a88f41551ba.jpeg?im_w=720");
  }

@media screen and (min-width:1040px) and (max-width:1050px){
    #firstnav{
        width: 94%;
    }

    #profile {
        width:28%;
    }

    #secondnav{
        display: none;
    }

    #leftright{
        width: 8%;
    }

    #cards{
        width: 92.5%;
    }

    .showall{
        width: 18%;
    }

    #collectionmostpopular{
        width: 60%;
    }

    #collectionmostpopular > p:nth-child(2){
        font-size: 22px;
    }
    
    #easyforitenary{
        width: 70%;
    }
    
    #easyforitenary > p:nth-child(2){
        font-size: 22px;
    }

    #leftright1{
        display: none;
    }

    #showleftright > p:nth-child(1){
        font-size: 14px;
        margin-left: 45px;
    }

    #planatripwithhelp{
        width: 92.5%;
    }

    #plantrip1{
        display: none;
    }

    #planatripcards{
        width: 96%;
        margin-top: 10px;
    }

    .image_div{
        /* border: 2px solid red; */
        width: 24%;
        height: 466px;
        margin-bottom: 30px;
    }

    .childrenDiv, .childrenDiv1, .childrenDiv2, .childrenDiv3{
        height: 320px;
    }

    .childrenDiv4, .childrenDiv5{
        display: none;
    }

    .placedescrip4, .star4, .placedescrip5, .star5{
        display: none;
    }

    #topseller{
        width: 92.5%;
    }

    #leftright2{
        display: none;
    }

    #showleftright1 > p:nth-child(1){
        font-size: 14px;
        margin-left: 45px;
    }

    #topsellercards{
        width: 96%;
        margin-top: 10px;
    }

    .topsellerchildrenDiv, .topsellerchildrenDiv1, .topsellerchildrenDiv2, .topsellerchildrenDiv3{
        height: 320px;
    }

    .topsellerchildrenDiv4, .topsellerchildrenDiv5{
        display: none;
    }

    #datesguestshare{
        width: 28%;
    }
    
    #dates{
        width: 26%;
    }
    
    #groupsize{
        width: 33%;
    }
    
    #morefilaters{
        width: 33%;
    }

    #greatfamilyanimals{
        width: 65%;
    }

    #greatforgroups{
        width: 21%;
    }
    
    #familyfriendly{
        width: 21%;
    }
    
    #animals{
        width: 11%;
    }
    
    #artsandwriting{
        width: 21%;
    }
    
    #baking{
        width: 11%;
    }

    #cooking, #dance, #drinks, #entertainment{
        display: none;
    }

    #startinginnext{
        width: 92.5%;
    }

    #leftright3{
        display: none;
    }

    #showleftright2 > p:nth-child(1){
        font-size: 14px;
        margin-left: 45px;
    }

    #startinginnextcards{
        width: 92.5%;
        margin-top: 10px;
    }

    #discoverterracotta{
        width: 49%;
    }

    #discoverterracottaimg{
        width: 35%;
    }

    #fungiant{
        width: 49%;
    }

    #fungiantimg{
        width: 29%;
    }

    #planatriptotajmahal{
        display: none;
    }

    #greatforgroups1{
        width: 92.5%;
    }

    #leftright2{
        display: none;
    }

    #showleftright1 > p:nth-child(1){
        font-size: 14px;
        margin-left: 45px;
    }

    #greatforgroupscards{
        width: 96%;
        margin-top: 10px;
    }

    .greatforgroupschildrenDiv, .greatforgroupschildrenDiv1, .greatforgroupschildrenDiv2, .greatforgroupschildrenDiv3{
        height: 320px;
    }

    .greatforgroupschildrenDiv4, .greatforgroupschildrenDiv5{
        display: none;
    }
}


@media screen and (min-width:860px) and (max-width:1039px){
    #firstnav{
        width: 91%;
    }

    #logo{
        width: 10%;
        height: 30px;
    }

    #profile {
        width:34%;
    }

    #secondnav{
        display: none;
    }

    #cards{
        width: 92.5%;
    }

    #leftright{
        width: 9.5%;
    }

    .showall{
        width: 22%;
    }

    #collectionmostpopular{
        width: 62%;
    }

    #collectionmostpopular > p:nth-child(2){
        font-size: 22px;
    }
    
    #easyforitenary{
        width: 70%;
    }
    
    #easyforitenary > p:nth-child(2){
        font-size: 22px;
    }

    #leftright1{
        display: none;
    }

    #showleftright > p:nth-child(1){
        font-size: 14px;
        margin-left: 26px;
    }

    #planatripwithhelp{
        width: 92.5%;
    }

    #plantrip1{
        display: none;
    }

    #planatripcards{
        width: 96%;
        margin-top: 10px;
    }

    .image_div{
        /* border: 2px solid red; */
        width: 32.33%;
        height: 466px;
        margin-bottom: 30px;
    }

    .childrenDiv, .childrenDiv1, .childrenDiv2, .childrenDiv3{
        height: 320px;
    }

    .childrenDiv3, .childrenDiv4, .childrenDiv5{
        display: none;
    }

    .placedescrip3, .star3, .placedescrip4, .star4, .placedescrip5, .star5{
        display: none;
    }

    #leftright2{
        display: none;
    }

    #showleftright1 > p:nth-child(1){
        font-size: 14px;
        margin-left: 26px;
    }

    #topseller{
        width: 92.5%;
    }

    #topsellercards{
        width: 96%;
        margin-top: 10px;
    }

    .topsellerchildrenDiv, .topsellerchildrenDiv1, .topsellerchildrenDiv2, .topsellerchildrenDiv3{
        height: 320px;
    }

    .topsellerchildrenDiv3, .topsellerchildrenDiv4, .topsellerchildrenDiv5{
        display: none;
    }

    #datesguestshare{
        width: 38%;
    }
    
    #dates{
        width: 26%;
    }
    
    #groupsize{
        width: 34%;
    }
    
    #morefilaters{
        width: 34%;
    }

    #greatfamilyanimals{
        width: 52%;
    }

    #greatforgroups{
        width: 30%;
    }
    
    #familyfriendly{
        width: 30%;
    }
    
    #animals{
        width: 20%;
    }
    
    #cooking, #dance, #drinks, #entertainment, #artsandwriting, #baking{
        display: none;
    }

    #startinginnext{
        width: 92.5%;
    }

    #leftright3{
        display: none;
    }

    #showleftright2 > p:nth-child(1){
        font-size: 14px;
        margin-left: 30px;
    }

    #startinginnextcards{
        width: 92.5%;
        margin-top: 10px;
    }

    #discoverterracotta{
        width: 49%;
    }

    #discoverterracottaimg{
        width: 55%;
    }

    #fungiant{
        width: 49%;
    }

    #fungiantimg{
        width: 49%;
    }

    #planatriptotajmahal{
        display: none;
    }

    #greatforgroups1{
        width: 92.5%;
    }

    #greatforgroupscards{
        width: 96%;
        margin-top: 10px;
    }

    .greatforgroupschildrenDiv, .greatforgroupschildrenDiv1, .greatforgroupschildrenDiv2, .greatforgroupschildrenDiv3{
        height: 320px;
    }

    .greatforgroupschildrenDiv3, .greatforgroupschildrenDiv4, .greatforgroupschildrenDiv5{
        display: none;
    }
}


@media screen and (max-width:460px){
    #parentdiv{
        height: 850px;
    }

    #navbar{
        height: 65px;
        border: none;
    }

    #firstnav{
        display: none;
    }

    #secondnav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 65px;
        border-bottom: 1px solid rgb(200,200,200);
    }

    #secondnav > i{
        margin-left: 25px;
        font-size: 14.5px;
    }

    #leftright{
        display: none;
    }

    #newthisweek > p:nth-child(1){
        font-size: 22px;
    }

    #mostpopulararoundworld{
        background-image: url("https://a0.muscache.com/im/pictures/e35bb307-05f4-48a4-bdc5-3b2198bb9451.jpg?im_w=720");
        width: 100%;
        height: 340px;
        border-radius: 12px;
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
    }
    
    #collectionmostpopular{
        width: 65%;
    }
    
    .showall{
        width: 21%;
    }
    
    #collectionmostpopular > p:nth-child(2){
        font-size: 22px;
    }
    
    #easyforitenaryplanning{
        display: none;
    }

    #plantrip{
        display: none;
    }

    #plantrip1{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #plantrip1 > p{
        font-size: 21px;
        width: 90%;
    }

    #plantrip1 > i{
        margin-top: 4px;
    }

    #planatripcards{
        width: 90%;
        height: 410px;
        margin-top: 10px;
    }

    .image_div{
        /* border: 2px solid red; */
        width: 49%;
        height: 466px;
        margin-bottom: 30px;
    }

    .childrenDiv, .childrenDiv1{
        height: 260px;
    }

    .childrenDiv2, .childrenDiv3, .childrenDiv4, .childrenDiv5{
        display: none;
    }

    .placedescrip2, .star2, .placedescrip3, .star3, .placedescrip4, .star4, .placedescrip5, .star5{
        display: none;
    }

    #top{
        display: none;
    }

    #plantrip2{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #plantrip2 > p{
        font-size: 21px;
        width: 90%;
    }

    #plantrip2 > i{
        margin-top: 4px;
    }

    #topsellercards{
        width: 90%;
        height: 450px;
        margin-top: 10px;
    }

    .topsellerchildrenDiv, .topsellerchildrenDiv1{
        height: 260px;
    }

    .topsellerchildrenDiv2, .topsellerchildrenDiv3, .topsellerchildrenDiv4, .topsellerchildrenDiv5{
        display: none;
    }

    #datesguestshare{
        width: 65%;
    }
    
    #dates{
        width: 28%;
    }
    
    #groupsize{
        width: 32%;
    }
    
    #morefilaters{
        width: 32%;
    }

    #greatfamilyanimals{
        width: 28%;
    }

    #greatforgroups{
        width: 100%;
    }

    #cooking, #dance, #drinks, #entertainment, #artsandwriting, #baking, #familyfriendly, #animals, .pipesymbol, #right2{
        display: none;
    }

    #startinginnext{
        width: 90%;
    }

    #starting{
        display: none;
    }

    #starting1{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #starting1 > p{
        font-size: 21px;
        width: 90%;
    }

    #starting1 > i{
        margin-top: 4px;
    }

    #leftright3{
        display: none;
    }

    #startinginnextcards{
        width: 90%;
        height: 260px;
        margin-top: 10px;
    }

    #discoverterracotta{
        width: 100%;
    }

    #discoverterracottaimg{
        width: 55%;
    }

    #planatriptotajmahal, #fungiant{
        display: none;
    }

    #great{
        display: none;
    }

    #great1{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #great1 > p{
        font-size: 21px;
        width: 90%;
    }

    #great1 > i{
        margin-top: 4px;
    }

    #greatforgroupscards{
        width: 90%;
        margin-top: 10px;
    }

    .greatforgroupschildrenDiv, .greatforgroupschildrenDiv1{
        height: 260px;
    }

    .greatforgroupschildrenDiv2, .greatforgroupschildrenDiv3, .greatforgroupschildrenDiv4, .greatforgroupschildrenDiv5{
        display: none;
    }
}